* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

.container-one {
    background-color: #1F2937;
    padding: 20px 100px 50px 100px;
    
}

.header {
    max-width: 1050px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    /*border: 1px solid white; /*debugging*/
    justify-content: space-between;
    padding: 0px 0px 80px 0px;
}

.header-logo {
    color:white;
    /*border: 1px solid white; /*debugging*/
    padding:0px 20px 20px 20px;
    font-size: 24px;
    font-weight: 700;

}

.header-link {
    display:flex;
    /*border: 1px solid white; /*debugging*/
}

.header-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}

.header-link a:hover {
    color: blue;
}

.link-one, .link-two, .link-three {
    /*border: 1px solid white; /*debugging*/
    margin-left: 20px;
}

.apple {
    /*border: 1px solid white; /*debugging*/
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.apple-title {
    color: white;
    /*border: 1px solid white; /*debugging*/
    width: 525px;
    height:auto;
    padding: 20px 30px 20px 30px;
    display:flex;
    flex-direction: column;
}

.apple-title h1 {
    padding: 0px 0px 20px 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.apple-title p {
    font-size: 18px;
    color:#e5e7eb;
    padding: 0px 0px 15px 0px;
}

.apple-title a {
    text-decoration: none;
    background-color: #3882F6;
    padding:10px;
    border-radius: 5px;
    width:130px;
    text-align: center;
    color:#F9FAF8;
    font-weight: 700;
    font-size:18px;
}

.apple-image {
    display:flex;
    background-color: rgb(126, 131, 141);
    color:#F9FAF8;
    width: 525px;
    height:250px;
    justify-content: center;
    align-items: center;
    font-size:18px;

}

.container-two {
    background-color: white;
    padding: 20px 100px 50px 100px;
}

.container-two h2 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color:#1F2937;
    padding:20px 20px 40px 20px;
}

.berry {
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.berry-item {
    display:flex;
    width:200px;
    flex-direction: row;
    align-items:center;
    padding:10px;
}

.berry-pic {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.berry-pic img {
    width:150px;
    height:150px;
    border: 3px solid #3882F6;
    border-radius:10px;
}

.berry-pic p {
    padding:10px;
    text-align: center;
    font-size:18px;
    font-weight: 300;
}


.container-three {
    background-color: #e5e7eb;
    padding: 20px 100px 50px 100px;
}

.cherry {
    max-width:700px;
    margin:auto;
    padding:60px 0px 30px 0px;
   
}

.quote {
    text-align: justify;
    padding-bottom:20px;
    font-style:italic;
    font-weight: 400;
    font-size:36px;
    color:#1F2937;
}

.author {
    text-align: right;
    font-weight: 600;
    font-size:20px;
    color:#1F2937;
}


.container-four {
    background-color: white;
    padding: 20px 100px 50px 100px;
}

.call-to-action {
    max-width: 1050px;
    margin:auto;
    margin-top:60px;
    margin-bottom:50px;
    background-color: #3882F6;
    border-radius: 10px;
    padding:50px;
    color:#F9FAF8;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.call h2{
   padding-bottom: 5px;
   font-size:26px;
}
.call p {
    font-size:18px;
    font-weight: 400;
    color:#e5e7eb;
}

.action {
    padding: 30px 10px 10px 50px;
}

.action a{
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 40px 10px 40px;
    color:#F9FAF8;
    font-weight: 700;
    font-size:18px;
}

.footer {
    background-color: #1F2937;
    color:#e5e7eb;
    text-align: center;
    padding: 50px 100px 50px 100px;
    font-size:18px;
}
